<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="useGeneratedKeys" value="true"/>
	</settings>

	<typeAliases>
		<package name="kr.niad.spring.domain" />
		<package name="kr.niad.spring.dto" />
	</typeAliases>
 
	<mappers>
		<package name="kr.niad.spring.dao.system.impl.mapper" />
	</mappers>

</configuration>
	